@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pizza Circle</h1>
    <p>Popular delivery, carry-out & dine-in chain known for pizza, wings & pasta, plus sides & desserts.</p>
    <img class="mainImage p-3" src="~/images/giphy.gif" />
    <br>
    <a class="btn btn-outline-primary " asp-area="" asp-page="Pizza"> Order Some Pizza</a>
</div>
